---
layout: default
title: P1/10-7/9-1
description: Entry page from a betti table on SyzygyData
---

<div class="container">

<div class="col-md-6">
<div class="panel panel-default">
	<div class="panel-heading betti-key">Current Betti Table Entry:</div>
	<div class="panel-body">
		<div class="row text-center">
			<div class="col-xs-4"><h4>\(n=1\)</h4></div>
			<div class="col-xs-4"><h4>\(d=10\)</h4></div>
			<div class="col-xs-4"><h4>\(b=7\)</h4></div>
		</div>
		<div class="row text-center">
			<div class="col-xs-6"><h4>\(p=9\)</h4></div>
			<div class="col-xs-6"><h4>\(q=1\)</h4></div>
	</div>
	</div>
</div>
</div>


{% include_relative betti.html %}


{% include_relative popover_9_1.html %}


<div class="col-md-12">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">

			<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Schur Decomposition</a>
			</h4>
			</div>

			<div id="collapse1" class="panel-collapse collapse">
			<div class="panel-body">
			<p>Click on an entry for more information! The dominate weights are in green.</p>
			<div class="table-responsive">

			<table class="table-condensed mutli-schur">
				<thead>
				<tr class="betti-top">
					<th class="betti-cols"></th>
					<th>53</th>
					<th>54</th>
					<th>55</th>
				</tr>
				</thead>

				<tbody>
				<tr>
					<td class="betti-cols">52</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">53</td>
					<td>&middot;</td>
					<td><a tabindex="0" class="btn btn-xs btn-success"data-toggle="popover" data-trigger="focus"data-popover-content="#sh-54-53">1</a>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">54</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				</tbody>
			</table>

			</div>
			</div>
			</div>
		</div>

		<div class="panel panel-default">

			<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Multigraded Decomposition</a>
			</h4>
			</div>

			<div id="collapse2" class="panel-collapse collapse">
			<div class="panel-body">
			<p>Click on an entry for more information!</p>
			<div class="table-responsive">

			<table class="table-condensed mutli-schur">
				<thead>
				<tr class="betti-top">
					<th class="betti-cols"></th>
					<th>53</th>
					<th>54</th>
					<th>55</th>
				</tr>
				</thead>

				<tbody>
				<tr>
					<td class="betti-cols">53</td>
					<td>&middot;</td>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-54-53">1</a>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">54</td>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-53-54">1</a>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">55</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				</tbody>
			</table>

			</div>
			</div>
			</div>
		</div>

	</div>
</div>

<p><br><br></p>
</div>