<div class="header">

<ul class="nav nav-pills pull-right">
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Method
    	<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="{{ page.background }}"><a href="{{site.baseurl}}/background" title="Background">Background</a></li>
      <li class="{{ page.approach }}"><a href="{{site.baseurl}}/approach" title="Approach">Approach</a></li>
      <li class="{{ page.code }}"><a href="{{site.baseurl}}/code" title="Code">Code</a></li>
    </ul>
  	</li>
  	 <li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Data
    	<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="{{ page.p1 }}"><a href="{{site.baseurl}}/p1" title="P1">1-Dim</a></li>
  	  <li class="{{ page.p2 }}"><a href="{{site.baseurl}}/p2" title="P2">2-Dim</a></li>
<!-- 
  	  <li class="{{ page.p3 }}"><a href="{{site.baseurl}}/p3" title="P3">3-Dim</a></li>
 -->
    </ul>
  	</li>
  	<li class="{{ page.conjectures }}"><a href="/conjectures" title="Conjectures">Conjectures</a>
    </li>
  	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Misc
    	<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="{{ page.authors }}"><a href="{{site.baseurl}}/authors" title="Authors">Authors</a></li>
      <li class="{{ page.thanks }}"><a href="{{site.baseurl}}/thanks" title="Thanks">Thanks</a></li>
      <li class="{{ page.references }}"><a href="{{site.baseurl}}/references" title="References">References</a></li>
    </ul>
  	</li>
	</ul>
	<h3 class="text-muted"><a href="{{site.baseurl}}">SyzygyData</a></h3>
</div> <!-- /header -->