<head>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="DJ Bruce">
	<title>SyzygyData | {{ page.title }}  </title>		
	<!-- styles -->
	<link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
	<script type="text/x-mathjax-config">
  		MathJax.Hub.Config({
    		TeX: {extensions: ["extpfeil.js"]}
  			});
	</script>
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
  			CommonHTML: {scale: 90}
		});
</script>
	<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>
