---
layout: default
title: P1/9-4/8-1
description: Entry page from a betti table on SyzygyData
---

<div class="container">

<div class="col-md-6">
<div class="panel panel-default">
	<div class="panel-heading betti-key">Current Betti Table Entry:</div>
	<div class="panel-body">
		<div class="row text-center">
			<div class="col-xs-4"><h4>\(n=1\)</h4></div>
			<div class="col-xs-4"><h4>\(d=9\)</h4></div>
			<div class="col-xs-4"><h4>\(b=4\)</h4></div>
		</div>
		<div class="row text-center">
			<div class="col-xs-6"><h4>\(p=8\)</h4></div>
			<div class="col-xs-6"><h4>\(q=1\)</h4></div>
	</div>
	</div>
</div>
</div>


{% include_relative betti.html %}


{% include_relative popover_8_1.html %}


<div class="col-md-12">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">

			<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Schur Decomposition</a>
			</h4>
			</div>

			<div id="collapse1" class="panel-collapse collapse">
			<div class="panel-body">
			<p>Below is a plot displaying the Schur decomposition. In the \(\lambda=(\lambda_0,\lambda_1)\) spot we place \(\beta_{8,\lambda}(1,4;9)\), the multiplicity of \(\textbf{S}_{\lambda}\) occuring in the decomposition of \(K_{8,1}(1,4;9)\).The dominate weights are displayed in green. Click on an entry for more info!</p>
			<div class="table-responsive">

			<table class="table-condensed mutli-schur">
				<thead>
				<tr class="betti-top">
					<th class="betti-cols"></th>
					<th>43</th>
					<th>44</th>
					<th>45</th>
				</tr>
				</thead>

				<tbody>
				<tr>
					<td class="betti-cols">40</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">41</td>
					<td>&middot;</td>
					<td><a tabindex="0" class="btn btn-xs btn-success"data-toggle="popover" data-trigger="focus"data-popover-content="#sh-44-41">1</a>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">42</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				</tbody>
			</table>

			</div>
			</div>
			</div>
		</div>

		<div class="panel panel-default">

			<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Multigraded Decomposition</a>
			</h4>
			</div>

			<div id="collapse2" class="panel-collapse collapse">
			<div class="panel-body">
			<p>Below is a plot displaying the multigraded Betti numbers. In the \(\textbf{a}=(a_0,a_1)\) spot we place \(\beta_{8,\textbf{a}}(1,4;9)\). Click on an entry for more info!</p>
			<div class="table-responsive">

			<table class="table-condensed mutli-schur">
				<thead>
				<tr class="betti-top">
					<th class="betti-cols"></th>
					<th>41</th>
					<th>42</th>
					<th>43</th>
					<th>44</th>
					<th>45</th>
				</tr>
				</thead>

				<tbody>
				<tr>
					<td class="betti-cols">41</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-44-41">1</a>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">42</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-43-42">1</a>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">43</td>
					<td>&middot;</td>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-42-43">1</a>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">44</td>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-41-44">1</a>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">45</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				</tbody>
			</table>

			</div>
			</div>
			</div>
		</div>

	</div>
</div>

<p><br><br></p>
</div>