---
layout: default
title: P2/3-2/5-0
description: Entry page from a betti table on SyzygyData
---

<div class="container">

<div class="col-md-6">
<div class="panel panel-default">
	<div class="panel-heading betti-key">Current Betti Table Entry:</div>
	<div class="panel-body">
		<div class="row text-center">
			<div class="col-xs-4"><h4>\(n=2\)</h4></div>
			<div class="col-xs-4"><h4>\(d=3\)</h4></div>
			<div class="col-xs-4"><h4>\(b=2\)</h4></div>
		</div>
		<div class="row text-center">
			<div class="col-xs-6"><h4>\(p=5\)</h4></div>
			<div class="col-xs-6"><h4>\(q=0\)</h4></div>
	</div>
	</div>
</div>
</div>


{% include_relative betti.html %}


{% include_relative popover_5_0.html %}


<div class="col-md-12">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">

			<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Schur Decomposition</a>
			</h4>
			</div>

			<div id="collapse1" class="panel-collapse collapse">
			<div class="panel-body">
			<p>Below is a plot displaying the Schur decomposition. In the \(\lambda=(\lambda_0,\lambda_1)\) spot we place \(\beta_{5,\lambda}(2,2;3)\), the multiplicity of \(\textbf{S}_{\lambda}\) occuring in the decomposition of \(K_{5,0}(2,2;3)\). Here \(\lambda\) is the weight \((\lambda_0,\lambda_1,\lambda_2)\) where \(\lambda_2\) is determined by the fact that \(|\lambda|\) equals \(d(p+q)+b\). The dominate weights are displayed in green. Click on an entry for more info!</p>			<div class="table-responsive">

			<table class="table-condensed mutli-schur">
				<thead>
				<tr class="betti-top">
					<th class="betti-cols"></th>
					<th>8</th>
					<th>9</th>
					<th>10</th>
				</tr>
				</thead>

				<tbody>
				<tr>
					<td class="betti-cols">3</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">4</td>
					<td>&middot;</td>
					<td><a tabindex="0" class="btn btn-xs btn-success"data-toggle="popover" data-trigger="focus"data-popover-content="#sh-9-4-4">1</a>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">5</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				</tbody>
			</table>

			</div>
			</div>
			</div>
		</div>

		<div class="panel panel-default">

			<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Multigraded Decomposition</a>
			</h4>
			</div>

			<div id="collapse2" class="panel-collapse collapse">
			<div class="panel-body">
			<p>Below is a plot displaying the multigraded Betti numbers. In the \((a_0,a_1)\) spot we place \(\beta_{5,\textbf{a}}(2,2;3)\). Here \(\textbf{a}\) is the weight \((a_0,a_1,a_2)\) where \(a_2\) is determined by the fact that \(|\textbf{a}|\) equals \(d(p+q)+b\). Entries with error corrected via our Schur decomposition algorithm are in organe. Click on an entry for more info!</p>
			<div class="table-responsive">

			<table class="table-condensed mutli-schur">
				<thead>
				<tr class="betti-top">
					<th class="betti-cols"></th>
					<th>4</th>
					<th>5</th>
					<th>6</th>
					<th>7</th>
					<th>8</th>
					<th>9</th>
					<th>10</th>
				</tr>
				</thead>

				<tbody>
				<tr>
					<td class="betti-cols">4</td>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-4-4-9">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-5-4-8">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-6-4-7">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-7-4-6">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-8-4-5">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-9-4-4">1</a>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">5</td>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-4-5-8">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-5-5-7">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-6-5-6">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-7-5-5">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-8-5-4">1</a>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">6</td>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-4-6-7">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-5-6-6">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-6-6-5">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-7-6-4">1</a>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">7</td>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-4-7-6">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-5-7-5">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-6-7-4">1</a>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">8</td>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-4-8-5">1</a>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-5-8-4">1</a>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">9</td>
					<td><a tabindex="0" class="btn btn-xs btn-default"data-toggle="popover" data-trigger="focus"data-popover-content="#mg-4-9-4">1</a>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				<tr>
					<td class="betti-cols">10</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
					<td>&middot;</td>
				</tr>

				</tbody>
			</table>

			</div>
			</div>
			</div>
		</div>

	</div>
</div>

<p><br><br></p>
</div>